body{
    font-family: Tajawal;
    padding: 0;
    margin: 0;
    background-color: #d3e5ff;
    /*background-image: url(bg.jpg);*/
    /*background-size: 100% 100%;*/
}
#header{
    /*margin: 10px;*/
    margin: 0px;
    padding: 0px;
    background-color: #2b87ff;
	/*Chrome, Safari*/
	/*-webkit-box-shadow: 0px 0px 12px 8px #2b87ff;*/
	/*Standard Syntax*/
    box-shadow: 0px 0px 1px 15px #2b87ff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#headerTitle{
    font-size: 45px;
    margin-left: 30px;
    margin-top: 8px;
    font-weight: bold;
    text-decoration: none;
    color: #f1f1f1;
}
#navGrid{
    font-size: 20px;
    display : grid;
    grid-template-columns: 160px 10px 160px 10px 160px 10px 160px ;
    padding-left: 40px;
}
.gap{
    background-color: #f1f1f12f;
    border-radius: 100px;
    height: 23px;
    margin-top: 6px;
    width: 2px;
    margin-left: 4px;
    box-shadow: 0px 0px 1px 1px #f1f1f12f;
}
.navList{
    display: grid;
    row-gap: 4px;
    grid-template-columns: 100%;
}
.navButton{
    /*padding-left: 10px;*/
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;
    color: #f1f1f1;
    text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px
}
.navButton:hover{
    background-color: #539bff;
}
.navList{
    visibility: hidden;
}
.navListItem{
    text-align: left;

}
@media (max-width: 599px){ /*using narrow screens */
    
}